.container_big-card{

  margin-top: 10px;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.big-card_photo > img{
  width: 100%;
  min-width: 395px;
}

.big-card_title{

}

.big-card_description > p{
  margin-top: 10px;
  color: gray;

}
