.menu-title__container{
  color: white;
}

.menu-title__container > h1{
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title__container > hr{
  margin-top: 15px;
  margin-bottom: 15px;
}
