
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      descricao ="Real Madrid campeão da Champions"
      imagem="https://images.wsj.net/im-553881"
      texto="Pela 14ª vez em sua história, o clube espanhol saiu vencedor da competição"

    ></app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    descricao="Cristiano Ronaldo é o maior goleador da história do clube."
    imagem="https://media.gettyimages.com/id/962792890/pt/foto/cristiano-ronaldo-of-real-madrid-lifts-the-uefa-champions-league-trophy-following-his-sides.jpg?s=612x612&w=gi&k=20&c=h_nu_J8lkPFTUIcpN2e2Rqi_V9M2kPah10vA1yPzd8M="
    ></app-small-card>

    <app-small-card
    Id="3"
    descricao="David Beckham fez parte do time de astros ao lado de Ronaldo, Zidane e Figo."
    imagem="https://img.r7.com/images/ha-17-anos-david-beckham-era-apresentado-no-real-madrid-ele-se-juntava-aos-galacticos-zidane-figo-ronaldo-e-roberto-carlos-voce-se-lembra-da-passagem-dele-por-la-confi-02072020111807527?dimensions=660x360&"
    ></app-small-card>

    <app-small-card
    Id="4"
    descricao="Ronaldo marcou 104 gols pelo Real Madrid."
    imagem="https://lncimg.lance.com.br/cdn-cgi/image/width=1214,height=560,quality=75,format=webp/uploads/2020/09/18/5f64cd5b3167e.jpeg"
    ></app-small-card>
  </div>

</div>
