
<app-menu-title></app-menu-title>

<div class="container_articles">
  <div class="articles__main">
    <app-big-card
      descricao ="descrição da imamgem nova que veremos pelo"
      imagem="https://images.wsj.net/im-553881"

    ></app-big-card>


  </div>
  <div class="articles__others">
    <app-small-card
    descricao="CRISTIANO RONALDO É O MAIOR GOLEADOR DA HITÓRIA DO CLUBE"
    imagem="https://media.gettyimages.com/id/962792890/pt/foto/cristiano-ronaldo-of-real-madrid-lifts-the-uefa-champions-league-trophy-following-his-sides.jpg?s=612x612&w=gi&k=20&c=h_nu_J8lkPFTUIcpN2e2Rqi_V9M2kPah10vA1yPzd8M="
    >
    </app-small-card>
    <app-small-card
    descricao="DAVID BECKHAM FOI O JOGADOR QUE CHEFOU E JSADLFJSDFLJSDLFKJ"
    imagem="https://img.r7.com/images/ha-17-anos-david-beckham-era-apresentado-no-real-madrid-ele-se-juntava-aos-galacticos-zidane-figo-ronaldo-e-roberto-carlos-voce-se-lembra-da-passagem-dele-por-la-confi-02072020111807527?dimensions=660x360&"
    ></app-small-card>
    <app-small-card descricao="descrição 3"></app-small-card>
  </div>

</div>
